@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-botton,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  opacity: 0.7 !important;
  scale: 0.6 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important;
  opacity: 1 !important;
}

.swiper-pagination-b {
  background-color: #f9a826 !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
}
